{% extends "base.html" %}
{% load static %}
{% block content %}
<br><br><br><br>
  <div style="display: flex;">
    <div style="padding-left: 20px; padding-right: 5px;">
      {% if not input_image %}
        <video id="video" autoplay="autoplay" width="640" height="480" style="transform: scaleX(-1)"></video>
        <script>
          const video = document.getElementById('video');
          let stream;
          navigator.mediaDevices.getUserMedia({ video: true })
            .then(function(mediaStream) {
              video.srcObject = mediaStream;
              stream = mediaStream;
            })
            .catch(function(error) {
              console.error('Error accessing webcam', error);
            });
          const myLink = document.getElementById('linker');
          function gotoPython(){
            stream.getTracks().forEach(track => track.stop());
            window.location.href = "{% url 'back' %}";
          }
        </script>
      {% else %}
        <img src="{{ input_image }}" width="640" height="480" >
      {% endif %}
    </div>
    <div style="padding-right: 20px; padding-left: 5px;">
      {% if bg_image %}
        <img src="{{ bg_image }}" width="640" height="480" alt="Uploaded Image" >
      {% endif %}
    </div>
  </div>
  <div style="padding-left: 20px;">
    {% if not bg_image %}
      <h1>Upload Background Image</h1>
      <form method="POST" action="{% url 'cam' %}" enctype="multipart/form-data">
        
        <input type="file" name="image" accept="image/png, image/jpeg, image/jpg" required >
        <button type="submit" >Upload</button>
      </form>
    {% endif %}
    {% if error %}
      <h1 style="color:#FF0000">{{ error }}</h1>
    {% endif %}
  </div>
  <center>
    {% if output_image %}
      <a href="/back">Capture again</a><br>
      <button onclick="downloadImage()">Download</button><br>
      <img src="{{ output_image }}" width="640" height="480" alt="Uploaded Image">
      <script>
        function downloadImage() {
          var a = document.createElement('a');
          a.href =  "{{ output_image }}";
          a.download = "output_image.png";
          document.body.appendChild(a);
          a.click();
          document.body.removeChild(a);
        }
      </script>
    {% elif bg_image %}
      <a href="#" onclick="gotoPython()" id="linker">Remove Background</a><br>
    {% endif %}
  </center>
{% endblock %}
