{% extends "base.html" %}
{% load static %}
{% block content %}
<br><br><br>
    <center>
    <h2>Image Background Changer</h2>
    <video id="video" style="transform: scaleX(-1);" width="640" height="480" autoplay ></video>
    <br>Select Background <input type="file" id="bgImageInput">
    <br><br><button id="captureButton" style="display: none;">Capture Image</button>
    <div style="display:flex;padding:15px"><canvas id="canvas" width="640" height="480" style="margin-right: 25px;"></canvas>
    <img id="outputImage" style="display: none;" width="640" height="480"></div>
    <button id="downloadButton" onclick="downloadImage()" style="display: none;">Download</button><center>
    <script>
        const video = document.getElementById('video');
        const canvas = document.getElementById('canvas');
        const captureButton = document.getElementById('captureButton');
        const downloadButton = document.getElementById('downloadButton');
        const outputImage = document.getElementById('outputImage');
        const ctx = canvas.getContext('2d');
        const uploadButton = document.getElementById('uploadButton');
        const bgImageInput = document.getElementById('bgImageInput');
        let bgImage = null;
        let x = null;
        bgImageInput.addEventListener('change', () => {
            bgImage = bgImageInput.files[0];
            if (bgImage) {
                captureButton.style.display = 'block';
            } else {
                captureButton.style.display = 'none';
            }
        });
        captureButton.addEventListener('click', async ()  => {
            // Save and restore may be needed but currently works fine without them
            // ctx.save(); 
            ctx.scale(-1, 1); 
            ctx.drawImage(video, -canvas.width, 0, canvas.width, canvas.height);
            // ctx.restore();
            const imageData = canvas.toDataURL('image/jpeg'); // Convert canvas to base64 image data
            // Send captured image data to the server
            try {
                const currentBgImage = bgImage;
                const formData = new FormData();
                formData.append('image_data', imageData);
                formData.append('bg_image',  bgImage);
                const response = await fetch('/process_image/', {
                    method: 'POST',
                    body: formData
                });
                const responseData = await response.json();
                x= 'data:image/jpeg;base64,' + responseData.processed_image;
                outputImage.src = x;
                outputImage.style.display = 'block';
                downloadButton.style.display = 'block';
                
            } catch (error) {
                console.error('Error:', error);
            }
        });

        // Set up the webcam stream
        navigator.mediaDevices.getUserMedia({ video: true })
        .then(stream => {
            video.srcObject = stream;
        })
        .catch(error => {
            console.error('Error accessing webcam:', error);
        });
        window.addEventListener('beforeunload', () => {
            if (video.srcObject) {
                const tracks = video.srcObject.getTracks();
                tracks.forEach(track => track.stop());
            }
        });
        function downloadImage() {
            var a = document.createElement('a');
            a.href = x;
            a.download = "processed_image.png";
            document.body.appendChild(a);
            a.click();
            document.body.removeChild(a);
          }
    </script>
{% endblock %}
