{% extends "base.html" %}
  {% load static %}
  {% block content %}
  <br><br><br><br><br><br>
  {% if error %}
    <h1 style="color:#FF0000">{{ error }}</h1>
  {% endif %}
  <form method="POST" action="{% url 'imagebg' %}" enctype="multipart/form-data">
    
    <center><div style="display: flex;">
      <div style="padding-left: 20px; padding-right: 5px; width:640px; ">
        {% if input_image %}
          <img src="{{ input_image }}" width="640" height="480" >
        {% else %}
          <h1>Upload Foreground Image</h1>
            <input type="file" name="image0" accept="image/png, image/jpeg, image/jpg" required >
        {% endif %}
      </div>
      <div style="padding-right: 20px; padding-left: 5px; width:640px; ">
        {% if bg_image %}
          <img src="{{ bg_image }}" width="640" height="480" alt="Uploaded Image" >
        {% else %}
          <h1>Upload Background Image</h1>
          <input type="file" name="image" accept="image/png, image/jpeg, image/jpg" required >
        {% endif %}
      </div> 
    </div>
    {% if not bg_image %}<br><br><button type="submit" >Upload</button>{% endif %}</center>
  </form>
    <center>
      {% if output_image %}
        <a href="/imagebg">Capture again</a><br>
        <button onclick="downloadImage()">Download</button><br>
        <img src="{{ output_image }}" width="640" height="480" alt="Uploaded Image">
        <script>
          function downloadImage() {
            var a = document.createElement('a');
            a.href =  "{{ output_image }}";
            a.download = "output_image.png";
            document.body.appendChild(a);
            a.click();
            document.body.removeChild(a);
          }
        </script>
      {% elif bg_image %}
        <a href="{% url 'back' %}">Remove Background</a><br>
      {% endif %}
    </center>
    
{% endblock %}
