{% extends "base.html" %}
{% load static %}
{% block content %}

  <div class="page-header d-flex align-items-center">
    <div class="container position-relative">
      <div class="row d-flex justify-content-center">
        <div class="col-lg-6 text-center">
          <h2>Pricing</h2>
          <a class="cta-btn" href="contact.html">Available for hire</a>
        </div>
      </div>
    </div>
  </div>

  <!-- ======= Pricing Section ======= -->
  <section id="pricing" class="pricing">
    
    <div class="container">

      <div class="section-header">
        <h2>Prices</h2>
        <p>Check my adorable pricing</p>
      </div>

      <div class="row gy-4 gx-lg-5">
        <div class="col-lg-6">
          <div class="pricing-item d-flex justify-content-between">
            <h3>Portrait Photography</h3>
            <h4>$160.00</h4>
          </div>
        </div><!-- End Pricing Item -->

        <div class="col-lg-6">
          <div class="pricing-item d-flex justify-content-between">
            <h3>Fashion Photography</h3>
            <h4>$300.00</h4>
          </div>
        </div><!-- End Pricing Item -->

        <div class="col-lg-6">
          <div class="pricing-item d-flex justify-content-between">
            <h3>Sports Photography</h3>
            <h4>$200.00</h4>
          </div>
        </div><!-- End Pricing Item -->

        <div class="col-lg-6">
          <div class="pricing-item d-flex justify-content-between">
            <h3>Still Life Photography</h3>
            <h4>$120.00</h4>
          </div>
        </div><!-- End Pricing Item -->

        <div class="col-lg-6">
          <div class="pricing-item d-flex justify-content-between">
            <h3>Wedding Photography</h3>
            <h4>$500.00</h4>
          </div>
        </div><!-- End Pricing Item -->

        <div class="col-lg-6">
          <div class="pricing-item d-flex justify-content-between">
            <h3>Photojournalism</h3>
            <h4>$200.00</h4>
          </div>
        </div><!-- End Pricing Item -->

      </div>

  </section><!-- End Pricing Section -->

{% endblock %}
