{% extends 'base.html' %}
{% load static %}
{% block content %}
<br><br><br><br><br><br><br>
    <center>
        {% if error %}
            <h1 style="color:#FF0000">{{ error }}</h1>
        {% endif %}
        {% if bg_image %}
            <a href="/sharpen"style="font-size:20px;">Upload again</a><br>
            {% if output_image %}
                <button onclick="downloadImage()">Download</button><br>
                <div style="font-size:20px;display: flex;"><div style="padding-left: 20%">Original Image</div><div style="padding-left: 37%">Sharpened Image</div></div>
                <div style="display: flex;">
                    <div style="padding-left: 20px; padding-right: 5px;">
                        <img src="{{ bg_image }}" width="640" height="480" alt="Uploaded Image">
                    </div>
                    <div style="padding-right: 20px; padding-right: 5px;">
                        <img src="{{ output_image }}" width="640" height="480" alt="Sharpened Image">
                    </div>
                </div>
                <script>
                    function downloadImage() {
                      var a = document.createElement('a');
                      a.href =  "{{ output_image }}";
                      a.download = "output_image.png";
                      document.body.appendChild(a);
                      a.click();
                      document.body.removeChild(a);
                    }
                </script>
            {% endif %}
        {% else %}
            <h1>Upload Image</h1>
            <form method="POST" enctype="multipart/form-data">
                
                <input type="file" name="image" accept="image/png, image/jpeg, image/jpg" required >
                <button type="submit" >Upload</button>
            </form>
        {% endif %}
    </center>
    
{% endblock %}
